.navBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 0 30px;
    max-width: 1200px;
    height: 70px;
    background: linear-gradient(to right, #4776E6, #8E54E9);
}

.navBarWrapper > ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 8px 16px;
    margin: 0 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.menuIcon {
    display: none;
    color: #fff;
}

@media(max-width: 600px) {

    .navBarWrapper ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        margin: 0;
        background-color: #000;
        transform: translateX(500px);
        transition: all 250ms ease-in-out;
    }

    .navBarWrapper ul li {
        color: #fff;
        margin: 10px 0;
        padding-bottom: 3px;
    }

    .navBarWrapper ul li:hover {
        color: orange;
    }

    .menuIcon {
        display: block;
        font-size: 25px;
        padding: 2px;
        z-index: 1;
    }
}

@media(max-width: 380px) {
    .navBarWrapper ul {
        width: 100%;
    }
}

.navBarWrapper ul.show {
    transform: translateX(0px);
}
